<div class="row">
                <div class="col-12">
                        <h1 class="merriweather"><b>UGA Golf Course Employee Hub</b></h1>
                </div>
        </div>

        <hr>

        <div class="row">
                <div class="col-2"></div>
                <div class="col-2">
                        <a class="btn btn-block" role="button" href="schedule_page_admin">Schedule</a>
                </div>
                <div class="col-2">
                        <a class="btn btn-block" role="button" href="employee_info_page_admin">Employee Info</a>
                </div>
                <div class="col-2">
                        <a class="btn btn-block" role="button" href="employee_info_page_admin">Requests</a>
                </div>
                <div class="col-2">
                        <a class="btn btn-block current-page" role="button" href="employee_info_page_admin">Generate Schedule</a>
                </div>
                <div class="col-2"></div>
        </div>

        <hr>
