

  <div class="right_bar ">
      <div class="tab-content ">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Employee Type</th>
                  <th>Email</th>
                  <th>Employee Role</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>John</td>
                  <td>Doe</td>
                  <td>Manager</td>                 
                  <td>john@example.com</td>
                  <td>Manager</td>
                </tr>
                <tr>
                  <td>Mary</td>
                  <td>Moe</td>
                  <td>Counter Person</td>
                  <td>mary@example.com</td>
                  <td>Counter</td>
                </tr>
                <tr>
                  <td>July</td>
                  <td>Dooley</td>
                  <td>Range</td>
                  <td>july@example.com</td>
                  <td>Range</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>